<div class="col-lg-12">
  <% breadcrumb :conductor_new %>
  <div class="card">
    <div class="card-header">
        <strong>Registro de conductor</strong>
    </div>
    <%= render 'form'%>
  </div>
</div>
